.listings-skeleton
.ant-skeleton-content
.ant-skeleton-title
+ .ant-skeleton-paragraph {
    margin-top: 12px;
}

.listings-skeleton .ant-divider-horizontal {
    margin: 12px 0;
}

.listings-skeleton .listing-skeleton__alert {
    margin-bottom: 2em;
}